:where(.btn) {
  @layer daisyui.l1.l2.l3 {
    width: unset;
  }
}

.prose :where(a.btn:not(.btn-link)):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  @apply no-underline;
}

/* 1. BASE STRUCTURE */
.btn {
  @layer daisyui.l1.l2.l3 {
    /* User-facing defaults */
    /* --btn-color */
    /* --btn-rest-fg */
    --size: calc(var(--size-field, 0.25rem) * 10);
    --btn-p: 1rem;
    --btn-fg: var(--color-base-content);
    --btn-noise: var(--fx-noise);

    /* Non-changing styles */
    @apply inline-flex shrink-0 cursor-pointer flex-nowrap items-center justify-center gap-1.5 text-center align-middle outline-offset-2 select-none;
    font-weight: 600;
    border-start-start-radius: var(--join-ss, var(--radius-field));
    border-start-end-radius: var(--join-se, var(--radius-field));
    border-end-start-radius: var(--join-es, var(--radius-field));
    border-end-end-radius: var(--join-ee, var(--radius-field));
    border-width: var(--border);
    touch-action: manipulation;
    transition-property: color, background-color, border-color, box-shadow, transform;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 0.2s;

    /* Internal logic */
    --int-bg: var(--btn-color, var(--color-base-200));
    --int-fg: var(--btn-fg);
    --int-border: color-mix(
      in oklab,
      var(--btn-color, var(--color-base-200)),
      #000 calc(var(--depth) * 5%)
    );
    --int-border-style: solid;
    --int-soft-bg: initial;
    --int-noise: var(--btn-noise);
    --int-no-shadow: 0 0 0 0 oklch(0% 0 0/0);
    --int-shadow-def:
      0 3px 2px -2px color-mix(in oklab, var(--int-bg) calc(var(--depth) * 30%), #0000),
      0 4px 3px -2px color-mix(in oklab, var(--int-bg) calc(var(--depth) * 30%), #0000);
    --int-shadow: var(--int-shadow-def);
    --int-inset-def: 0 0.5px 0 0.5px oklch(100% 0 0 / calc(var(--depth) * 6%));
    --int-inset: var(--int-inset-def);

    /* Apply internals */
    height: var(--size);
    padding-inline: var(--btn-p);
    font-size: var(--fontsize, 0.875rem);
    background-color: var(--int-bg);
    color: var(--int-fg);
    border-color: var(--int-border);
    border-style: var(--int-border-style);
    outline-color: var(--btn-color, var(--color-base-content));
    --tw-prose-links: var(--int-fg);

    /* Effects */
    background-image: none, var(--int-noise);
    background-size: auto, calc(var(--noise, 0) * 100%);
    text-shadow: 0 0.5px oklch(100% 0 0 / calc(var(--depth) * 0.15));
    box-shadow:
      var(--int-inset) inset,
      var(--int-shadow);

    /* Checkable label */
    &:is([type="checkbox"], [type="radio"]) {
      @apply appearance-none;

      &[aria-label]::after {
        --tw-content: attr(aria-label);
        content: var(--tw-content);
      }
    }
  }
}

/* 2. MODIFIERS */
/* 2a. Style modifiers */
.btn-outline,
.btn-dash {
  @layer daisyui.l1.l2 {
    --int-bg: #0000;
    --int-fg: var(--btn-rest-fg, var(--btn-color, var(--color-base-content)));
    --int-border: var(--btn-color, var(--color-base-content));
    --int-border-style: solid;
    --int-noise: none;
    --int-inset: var(--int-no-shadow);
    --int-shadow: var(--int-no-shadow);
  }
}

.btn-dash {
  @layer daisyui.l1.l2 {
    --int-border-style: dashed;
  }
}

.btn-ghost {
  @layer daisyui.l1.l2 {
    --int-bg: #0000;
    --int-fg: var(--btn-rest-fg, var(--btn-color, var(--color-base-content, currentColor)));
    --int-border: #0000;
    --int-noise: none;
    --int-inset: var(--int-no-shadow);
    --int-shadow: var(--int-no-shadow);
  }
}

.btn-soft {
  @layer daisyui.l1.l2 {
    --int-bg: color-mix(
      in oklab,
      var(--btn-color, var(--color-base-content)) 8%,
      var(--int-soft-bg, var(--color-base-100))
    );
    --int-fg: var(--btn-rest-fg, var(--btn-color, var(--color-base-content)));
    --int-border: color-mix(
      in oklab,
      var(--btn-color, var(--color-base-content)) 10%,
      var(--int-soft-bg, var(--color-base-100))
    );
    --int-border-style: solid;
    --int-noise: none;
    --int-inset: var(--int-no-shadow);
    --int-shadow: var(--int-no-shadow);
  }
}

/* Link is a special case, it goes in higher layer */
.btn-link {
  @layer daisyui.l1 {
    @apply underline;
    --int-bg: #0000;
    --int-fg: var(--btn-color, var(--color-primary));
    --int-border: #0000;
    --int-noise: none;
    --int-inset: var(--int-no-shadow);
    --int-shadow: var(--int-no-shadow);
  }
}

/* 2b. Checked/active defaults (must be first to be overridden by specific colors) */
.btn:where(:checked:not(.filter [type="radio"].btn), .btn-active) {
  @layer daisyui.l1.l2 {
    --btn-color: var(--color-primary);
    --btn-fg: var(--color-primary-content);
    isolation: isolate;
  }
}

/* 2c. Color modifiers */
.btn-primary {
  @layer daisyui.l1.l2 {
    --btn-color: var(--color-primary);
    --btn-fg: var(--color-primary-content);
    --int-soft-bg: initial;
  }
}

.btn-secondary {
  @layer daisyui.l1.l2 {
    --btn-color: var(--color-secondary);
    --btn-fg: var(--color-secondary-content);
    --int-soft-bg: initial;
  }
}

.btn-accent {
  @layer daisyui.l1.l2 {
    --btn-color: var(--color-accent);
    --btn-fg: var(--color-accent-content);
    --int-soft-bg: initial;
  }
}

.btn-neutral {
  @layer daisyui.l1.l2 {
    --btn-color: var(--color-neutral);
    --btn-fg: var(--color-neutral-content);
    --int-soft-bg: var(--color-neutral-content) 80%;
    --btn-rest-fg: initial;
  }
}

.btn-info {
  @layer daisyui.l1.l2 {
    --btn-color: var(--color-info);
    --btn-fg: var(--color-info-content);
    --int-soft-bg: initial;
  }
}

.btn-success {
  @layer daisyui.l1.l2 {
    --btn-color: var(--color-success);
    --btn-fg: var(--color-success-content);
    --int-soft-bg: initial;
  }
}

.btn-warning {
  @layer daisyui.l1.l2 {
    --btn-color: var(--color-warning);
    --btn-fg: var(--color-warning-content);
    --int-soft-bg: initial;
  }
}

.btn-error {
  @layer daisyui.l1.l2 {
    --btn-color: var(--color-error);
    --btn-fg: var(--color-error-content);
    --int-soft-bg: initial;
  }
}

/* 2d. Sizes */
.btn-xs {
  @layer daisyui.l1.l2 {
    --fontsize: 0.6875rem;
    --btn-p: 0.5rem;
    --size: calc(var(--size-field, 0.25rem) * 6);
  }
}

.btn-sm {
  @layer daisyui.l1.l2 {
    --fontsize: 0.75rem;
    --btn-p: 0.75rem;
    --size: calc(var(--size-field, 0.25rem) * 8);
  }
}

.btn-md {
  @layer daisyui.l1.l2 {
    --fontsize: 0.875rem;
    --btn-p: 1rem;
    --size: calc(var(--size-field, 0.25rem) * 10);
  }
}

.btn-lg {
  @layer daisyui.l1.l2 {
    --fontsize: 1.125rem;
    --btn-p: 1.25rem;
    --size: calc(var(--size-field, 0.25rem) * 12);
  }
}

.btn-xl {
  @layer daisyui.l1.l2 {
    --fontsize: 1.375rem;
    --btn-p: 1.5rem;
    --size: calc(var(--size-field, 0.25rem) * 14);
  }
}

.btn-wide {
  @layer daisyui.l1.l2 {
    @apply w-full max-w-64;
  }
}

.btn-block {
  @layer daisyui.l1.l2 {
    @apply w-full;
  }
}

.btn-square {
  @layer daisyui.l1.l2 {
    @apply px-0;
    width: var(--size);
    height: var(--size);
  }
}

.btn-circle {
  @layer daisyui.l1.l2 {
    @apply rounded-full px-0;
    width: var(--size);
    height: var(--size);
  }
}

/* 3. INTERACTION & STATE */
.btn {
  @layer daisyui.l1.l2 {
    @media (hover: hover) {
      &:hover {
        --int-bg: color-mix(in oklab, var(--btn-color, var(--color-base-200)), #000 7%);
        --int-fg: var(--btn-fg);
        --int-border: color-mix(in oklab, var(--int-bg), #000 calc(var(--depth) * 5%));
        --int-noise: var(--fx-noise);
        --int-inset: var(--int-inset-def);
        --int-shadow: var(--int-shadow-def);
      }
    }

    &:active:not(.btn-active) {
      translate: 0 0.5px;
      --int-bg: color-mix(in oklab, var(--btn-color, var(--color-base-200)), #000 5%);
      --int-fg: var(--btn-fg, var(--color-base-content));
      --int-border: color-mix(in oklab, var(--btn-color, var(--color-base-200)), #000 7%);
      --int-border-style: solid;
      --int-inset: var(--int-no-shadow);
      --int-shadow: var(--int-no-shadow);
    }

    /* Force solid state (checked/active/focus-visible if not checkable) */
    &:where(
      :checked:not(.filter [type="radio"].btn),
      .btn-active,
      :not([type="radio"], [type="checkbox"]):focus-visible
    ) {
      --int-bg: var(--btn-color, var(--color-base-200));
      --int-fg: var(--btn-fg, var(--color-base-content));
      --int-border: color-mix(in oklab, var(--int-bg), #000 calc(var(--depth) * 5%));
      --int-border-style: solid;
      --int-noise: var(--fx-noise);
      --int-inset: var(--int-inset-def);
      --int-shadow: var(--int-shadow-def);
      isolation: isolate;
    }

    &:focus-visible,
    &:has(:focus-visible) {
      outline-width: 2px;
      outline-style: solid;
      isolation: isolate;
    }
  }
}

/* Disabled State */
.btn-disabled,
.btn:is(:disabled, [disabled], [aria-disabled="true"]) {
  @layer daisyui {
    @apply pointer-events-none;
    --int-fg: color-mix(in oklch, var(--color-base-content) 20%, #0000);
    --int-bg: #0000;
    --int-border: #0000;
    --int-noise: none;
    --int-inset: var(--int-no-shadow);
    --int-shadow: var(--int-no-shadow);

    &:not(.btn-link, .btn-ghost) {
      @apply bg-base-content/10;
    }
  }
}
